@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  font-size: 10px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 0.4rem;
  
}

::-webkit-scrollbar-thumb {
  background-color: #181616;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

/* scroll bar end */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fdfeff;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #202024;
  padding: 8rem 1rem 2rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main > section {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.vertical-rule {
  height: 100%;
  width: 0.2rem;
  background-color: #ffd700;
  margin: 0 1rem;
}

.monsters-tab {
  align-items: center;
  max-width: 46rem;
}

.hidden {
  display: none !important;
}
/* 
.hide-tab{
  display: none;
} */

@media only screen and (max-width: 1000px ){

  .hide-tab{
    display: none !important;
  }
}